// Set nextflow parameters here

manifest {
    homePage = 'https://github.com/tkchafin/ResistanceGA_HPC_Pipeline'
    description = 'ResistanceGA Pipeline'
    mainScript = 'nextflow.nf'
}

params {

    // Directories
    code_dir            = "/Users/tkchafin/ResistanceGA_HPC_Pipeline"
    work_dir            = "/Users/tkchafin/Downloads/WTD_RGA"
    publish_dir			= "all_comb"
    R_source_dir        = "${params.code_dir}/R"
    scripts_dir         = "${params.code_dir}/scripts"
    parallel_path		= "/share/apps/parallel/20160622/bin/parallel" //path to GNU parallel binary
    Rscript_path		= "Rscript"


    // Inputs
    gen_dist            = "${params.work_dir}/wtd_mz_prov_dist.tsv"
    coords              = "${params.work_dir}/wtd_mz_list.tsv"
    rasters             = "${params.work_dir}/rasters/*.proj.tif"

    // Parameters
    //replicates        = 1
    cores_per_job_ss    = 32
    max_iter            = 1000
    k                   = 3
    sample_prop         = 0.75
    boots               = 100
    ms_jobs_per_node	= 16 //how many multisurface models to run per process (e.g. per HPC node)
    cores_per_job_ms    = 4 //how many cores dedicated to each multisurface model
    ms_jobs_parallel	= 8 //how many multisurface jobs to run at once in a process
    max_combination		= 12

}

executor {
    name = 'local'
    queueSize = 500
    queue = 'q72h32c'
    pollInterval = '30 sec'
    cpus = 32
    jobName = 'ResistanceGA'
    scratch = true
}
