// Set nextflow parameters here

manifest {
    homePage = 'https://github.com/tkchafin/ResistanceGA_HPC_Pipeline'
    description = 'ResistanceGA Pipeline'
    mainScript = 'nextflow.nf'
}

params {

    // Directories
    code_dir            = "/Users/tkchafin/ResistanceGA_HPC_Pipeline"
    work_dir            = "/Users/tkchafin/Downloads/WTD_RGA"
    all_comb            = "all_comb"
    R_source_dir        = "${params.code_dir}/R"
    scripts_dir         = "${params.code_dir}/scripts"


    // Inputs
    gen_dist            = "${params.work_dir}/wtd_mz_prov_dist.tsv"
    coords              = "${params.work_dir}/wtd_mz_list.tsv"
    rasters             = "${params.work_dir}/*reduce.proj.tif"

    // Parameters
    replicates          = 2
    cores_per_job       = 4
    max_iter            = 2
    k                   = 3
    sample_prop         = 0.75
    boots               = 100

}

//Not filled in yet, taken from template
profiles {

    // For execution on a local machine, no containerization. -- Default
    standard {
        process.executor = 'local'
    }

    // For execution on a PBS scheduler, no containerization.
    pbs {
        process.executor = 'pbs'
        process.queue = 'q72h32c'
    }

    singularity {

        sg_py3Image = "/home/scott/py3plink.img"
        sg_latexImage = "/home/scott/h3agwas-texlive.img"


        enabled = true
        process.executor = 'pbs'
        process.queue = 'q72h32c'

        container = sg_py3Image
        process.$produceReports.container  = sg_latexImage

     }

}
